/* Calculator - Author: Fioren (@Leshoraa) */

configuration {
    modi:                       "dmenu";
    show-icons:                 false;
    click-to-exit:              true;
}

@theme "~/.config/rofi/wallust/colors-rofi.rasi"

* {
    font:                       "JetBrainsMono Nerd Font 11";
    selected:                   @color12;
    text-selected:              @background;
    text-color:                 @foreground;
    border-color:               @selected;
}

window {
    enabled:                    true;
    fullscreen:                 false;
    transparency:               "real";
    cursor:                     "default";
    spacing:                    0px;
    border:                     2px;
    border-radius:              14px;
    border-color:               @selected;
    location:                   center;
    anchor:                     center;
    width:                      460px;
    background-color:           rgba(15, 15, 23, 0.90);
}

mainbox {
    enabled:                    true;
    orientation:                vertical;
    spacing:                    0px;
    padding:                    14px;
    background-color:           transparent;
    children:                   [ "inputbar" ];
}

inputbar {
    enabled:                    true;
    spacing:                    10px;
    padding:                    10px 14px;
    border:                     1.5px;
    border-radius:              10px;
    border-color:               @selected;
    background-color:           rgba(15, 15, 23, 0.6);
    children:                   [ "entry" ];
}

entry {
    enabled:                    true;
    background-color:           transparent;
    text-color:                 @foreground;
    cursor:                     text;
    placeholder:                " 󰃬  Calculate...";
    placeholder-color:          rgba(255, 255, 255, 0.4);
    vertical-align:             0.5;
}

message {
    enabled:                    false;
}

listview {
    enabled:                    false;
}