 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #6E7CCE;
active-foreground: #E7E8EB;
normal-background: #131418;
normal-foreground: #E7E8EB;
urgent-background: #D784A5;
urgent-foreground: #E7E8EB;

alternate-active-background: #CA90D5;
alternate-active-foreground: #E7E8EB;
alternate-normal-background: #131418;
alternate-normal-foreground: #E7E8EB;
alternate-urgent-background: #131418;
alternate-urgent-foreground: #E7E8EB;

selected-active-background: #D784A5;
selected-active-foreground: #E7E8EB;
selected-normal-background: #D784A5;
selected-normal-foreground: #E7E8EB;
selected-urgent-background: #6E7CCE;
selected-urgent-foreground: #E7E8EB;

background-color: #131418;
background: rgba(0,0,0,0.7);
foreground: #E7E8EB;
border-color: #6E7CCE;

color0: #131418;
color1: #C4B564;
color2: #C45581;
color3: #B76EC4;
color4: #5161B8;
color5: #CD796F;
color6: #A3ABDC;
color7: #E7E8EB;
color8: #575A6B;
color9: #D4C887;
color10: #4A59AB;
color11: #CA90D5;
color12: #6E7CCE;
color13: #D784A5;
color14: #929DDD;
color15: #E7E8EB;


}

